body{
    font-family: "montserrat", sans-serif;
    text-align: center;
    margin :0;
    padding: 0;;
}
nav{
    background-color: aqua;
    color: white;
    padding: 1rem;

}
div{
    padding: 1rem  0rem;
}
#output{
    padding-top: 1rem;
}

#check-button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background-color: aqua;
    font-size: 20px;
}